<!doctype html>
<html ng-app="orderBook">
   
	<head>
		  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
		  <script type="text/javascript" src="js/app.js"></script>
	</head>
   
   <body ng-controller="tabController as orderBookTab">
   		<div style="text-align:center;background-color: #4285f4;color:#ffffff;height: 60px;line-height: 60px;">
			Order Book
			<img align="right" src="images/userProfile.png" style="height:50px;width:50px;margin:5px;"/>
		</div>
		<div>
			<table>
				<tr>
					<td width="40%" style="background-color: #d4d2d2;color:#0000;">
					  <a ng-click="orderBookTab.changeRoute('dashboard')"><div style="padding:2px;height:30px;">Dashboard</div></a>
					  <a ng-click="orderBookTab.changeRoute('orders')"><div style="padding:2px;height:30px;">Orders</div></a>
					  <a ng-click="orderBookTab.changeRoute('items')"><div style="padding:2px;height:30px;">Items</div></a>
					  <a ng-click="orderBookTab.changeRoute('customers')"><div style="padding:2px;height:30px;">Customers</div></a>
					</td>
					<td width="60%">
					  <div ui-view="" ></div>
					</td>
				</tr>
			</table>
		</div>

   </body>
</html>